.container {
  height: 100%;
  display: flex;
  /* flex-direction: row; */
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.left-section {
  flex: 1;
  height: 100%;
}
.post-section {
  flex: 2;
  height: 100%;
}
.right-section {
  flex: 1;
  height: 100%;
}

.border {
  border-right: 1px solid #243453;
  border-left: 1px solid #243453;
}

.margin-20 {
  margin: 20px;;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-container img {
  margin: 0 10px;
}